h2 {
    display: block;
    width: 480px;
    margin: 210px auto 72px;
    font-weight: normal;
    font-family: 'Pretendard-Bold';
    font-size: 32px;   
}
#completedContents {
    width: 480px;
    margin: 0 auto 120px;
    position: relative;
}
#completedContents > p {
    font-size: 24px;
    margin-bottom: 30px;
}
#banchans > img {
    width: 152px;
    height: 152px;
    filter: drop-shadow(12px 12px 0px #FF521C);
    margin-right: 8px;
}
#banchans > img:last-child {
    margin-right: 0;
    float: right;
}
#sparkle1 {
    position: absolute;
    top: 170px;
    left: -30px;
}
#sparkle2 {
    position: absolute;
    top: 10px;
    left: 480px;
}
#completedContents input[type=button] {
    width: 480px;
    height: 72px;
    border: none;
    border-radius: 3px;
    background-color: #FF9E57;
    color: #fff;
    font-family: 'Pretendard-Bold';
    font-size: 24px;
    cursor: pointer;
    margin-top: 42px;
    margin-bottom: 18px;
}
#completedContents input[type=button]:last-child {
    margin: 0;
}